<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--	APPENDERS-->	
<!--	<appender name="ACTIVEMQ" class="org.apache.log4j.net.JMSAppender">-->
<!--		<param name="InitialContextFactoryName" value="org.apache.activemq.jndi.ActiveMQInitialContextFactory" />-->
<!--		<param name="ProviderURL" value="tcp://localhost:61616" />-->
<!--		<param name="TopicBindingName" value="Logs" />-->
<!--		<param name="TopicConnectionFactoryBindingName" value="ConnectionFactory" />-->
<!---->
<!--		<layout class="org.apache.log4j.PatternLayout">-->
<!--			<param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n" />-->
<!--		</layout>-->
<!--	</appender>-->
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="file" value="logs/Humsat.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{EEE, d MMM yyyy HH:mm:ss} - %p %C{1}.%M(%L) --- %m%n" />
		</layout>
	</appender>	
	
	<!--	LOGGERS-->
	<logger name="org.apache">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	
<!--	<logger name="org.hbird">-->
<!--		<level value="DEBUG"/>-->
<!--		<appender-ref ref="ACTIVEMQ" />-->
<!--	</logger>-->
	
	
	<!--	ROOT LOGGER-->
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />		
		<appender-ref ref="LOGFILE" />
	</root>

</log4j:configuration>
